.clientsContainer {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clients-title {
    position: relative;
    font-size: 60px;
    font-family: "slab", sans-serif;
    font-weight: 1000;
    letter-spacing: 1px;
    margin: auto;
    cursor: pointer;
    padding: 1.5em;
    display: block;
    width: 800px;
    max-width: 1200px;
    top: 110px;
    margin-bottom: 10%;
    
    --b: 5px;   /* the thickness of the line */

    color: transparent; /* Cambia el color a transparente */
    padding-block: var(--b);
    background: linear-gradient(var(--color10) 50%, #fff 0) 0% calc(100% - var(--_p,0%))/100% 200%,
                linear-gradient(var(--color4) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
    background-clip: text,padding-box;
    transition: .5s var(--_s,0s) ease, background-size .3s calc(.3s - var(--_s,0s));
}
.clients-title:hover {
--_p: 100%;
--_s: .2s;
}

.banner-container {
    
    height: 190px;
    background-size: contain;
}

.banner1 {
    top: 120px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
    background: rgb(255, 255, 255);
    width: auto;
    overflow: hidden;
    animation: animation_banner_up_infinite linear infinite 25s;
}

.banner2 {
    top: 120px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
    background: rgb(255, 255, 255);
    width: auto;
    overflow: hidden;
    animation: animation_banner_up_infinite linear infinite 25s reverse;
}

@keyframes animation_banner_up_infinite {
    to {
        background-position: -4163px;
    }
}


@media (max-width: 600px) {
    .clientsContainer{
        margin-top: -120px;
    }
    .clients-title{
        font-size: 30px;
        min-width: 200px;
        width: 300px;
        padding: .5em;
        animation: transition .1s infinite;
        text-align: center;
    }
    .clients-title{
        margin-top: 2em;
        margin-bottom: 4em;
    }

}