.timeline-container {
    margin-top: -120px;
}

.timeline-container .typography {
    font-weight: 1000;
}

.main-info {
    margin: auto;
    width: auto;
    max-width: 700px;
}



.container ul {
    margin-top: 100px;
    list-style: none;
    position: relative;
    padding: 1px 100px;
    color: #fff;
    font-size: 13px;
}

/* Lineas dashed */
.container ul:before {
    content: ' ';
    width: 1px;
    height: 100%;
    position: absolute;
    border-left: 2px dashed #fff;
    margin-left: 33.8%;
}

.container ul li {
    position: relative;
    margin-left: 55%;
    width: 250px;
    background-color: rgb(3, 135, 175);
    padding: 14px;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}

.container ul li:not(:first-child) {
    margin-top: 50px;
}

/* lineas */
.container ul li>span {
    width: 2px;
    height: 100%;
    background: #fff;
    left: -33px;
    top: 0;
    position: absolute;
}


/* circulos */
.container ul li>span:before,
.container ul li>span:after {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    background: #2e75bd;
    left: -5px;
    top: 0;
}

.container ul li>span:after {
    top: 100%;
}

.container ul li>div {
    margin-left: auto;
}

.container ul div .title,
.container ul div .type {
    font-weight: 700;
    font-size: 12px;
}
.container ul div .type {
    font-style: italic;
}

.container ul div .info {
    font-weight: 250;
}

.container ul div>div {
    margin-top: 5px;
}

.container p.number {
    font-weight: 750;
    font-size: 20px;
    position: absolute;
    left: -100px;
    top: -5px;
}

.container span.number span {
    position: absolute;
    font-size: 10px;
    left: -35px;
    font-weight: bold;
}

.container span.number span:first-child {
    top: 0;
}

.container span.number span:last-child {
    top: 100%;
}




@media (max-width: 768px) {
    .timeline-container .clients-title {
        margin-bottom: 90px;
    }
    
    .container ul li>span {
        left: -100px;
    }

}