
@font-face {
  font-family: 'wght';
  src: url('../fonts/wght.ttf') format('truetype');
}
@font-face {
  font-family: 'slab';
  src: url('../fonts/alfaSlab.ttf') format('truetype');
}
:root{
  --color1 : 0,0,5;
  --color2 : #15284d;
  --color3 : #435aa0;
  --color4 : #8192fe;
  --color5 : #f0f0ff;
  --color6 : #112437;
  --color7 : #0d4d6a;
  --color8 : #0986a9;
  --color9 : #05cef0;
  --color10 : #0ffff8;
}

* {
  color: white;
}

body{
  background-color: var(--color2);
}