
#main-view{
     position: relative;
     top: -100px;
     height: 90vh;
     bottom: -100px;
}
#main-view .carousel-item img{
     height: 100vh;
     filter: blur(2px) brightness(.5) contrast(105%) saturate(90%) ;
     object-fit: cover;
     object-position: center;
     bottom: -100px;

}
.carousel-caption{
     margin: auto;
     top: 40vh;
}
#main-view h1{
     font-family: "slab", sans-serif;
     font-size: 90px;
     font-weight: 1000;
     letter-spacing: 3px;
}



/* animacion scroll down */
.down{
     position: absolute;
     top: calc(100vh - 80px);
     left: calc(50% - 20px);
     transition: opacity 1s ease-in-out;
     animation: fade 1.2s reverse;
}
.down.scrolled1{
     animation: fade 1.2s ease-in-out;
     transition: opacity 1s ease-in-out;
     opacity: 0;
}
.ball1 {
	background: #fff;
	height: 8px;
	width: 8px;
	border-radius: 100%;
     animation: jumpInfinite 1.2s infinite;
     margin: auto;
}
.ball2 {
	background: #fff;
	height: 6px;
	width: 6px;
	border-radius: 100%;
     animation: jumpInfinite 1.2s infinite;
     margin: auto;

}
.ball3 {
	background: #fff;
	height: 4px;
	width: 4px;
	border-radius: 100%;
     animation: jumpInfinite 1.2s infinite;
     margin: auto;

}
.ball4 {
	background: #fff;
	height: 2px;
	width: 2px;
	border-radius: 100%;
     animation: jumpInfinite 1.2s infinite;
     margin: auto;

}
.spacer {
	height: 4px;
     animation: jumpInfinite 1.2s infinite;
     margin: auto;

}
.arrow {
	height: 20px;
	width: 20px;
	border: 0;
	border-right: 4px solid #fff;
	border-top: 4px solid #fff;
	transform: translateY(-10px) rotate(135deg);
     animation: jumpInfinite 1.2s infinite;
     margin: auto;
}

/* -------------- MEDIA SCREEN ---------------- */
@media (max-width: 600px) {
     #main-view{
          position: relative;
          top: -120px;
          height: 90vh;
     }
     #main-view .carousel-caption{
          top: 35vh;
     }
     #main-view h1{
          font-family: "slab", sans-serif;
          font-size: 40px;
          font-weight: 500;
          text-align: center;
          letter-spacing: 3px;
     }
     #main-view p{
          font-size: 12px;
     }
     #main-view h1{
          text-align: center;
     }
     .down{
          position: absolute;
          bottom: 190px;
          left: calc(50% - 10px);
          transition: opacity 1s ease-in-out;
          animation: fade 1.2s reverse;
     }
}




@keyframes jumpInfinite {
     0% {
       margin-top: 0;
     }
     50% {
       margin-top: 1px;
     }
     100% {
       margin-top: 0;
     }
}
@keyframes fade {
     0% {
       opacity: 1;
     }
     50% {
       opacity: 0.5;
     }
     100% {
       opacity: 0;
     }
   }
