.timeline-container {
    margin-top: -120px;
}
.timeline-container .typography{
    font-weight: 1000;
}
.main-info{
    margin: auto;
    width: auto;
    max-width: 700px;
}


@media (max-width: 768px) {
    .timeline-container .clients-title{
        margin-bottom: 90px;
    }

}