:root{
  --color1 : 0,0,5;
  --color2 : #15284d;
  --color3 : #435aa0;
  --color4 : #8192fe;
  --color5 : #cfceff;
  --color6 : #112437;
  --color7 : #0d4d6a;
  --color8 : #0986a9;
  --color9 : #05cef0;
  --color10 : #0ffff8;
}

* {
  color: white;
}